<div class="container">
  <!-- <div class="wrapper"> -->
  <div class="content">
    <h2>Convinced To Work With Us?</h2>
    <p>
      Company has helped agencies keep their promises to clients since 2005.
    </p>
  </div>
  <div class="form-box">
    <form action="">
      <div class="user-info">
        <div>
          <label for="f-name">Fullname</label>
          <input id="f-name" type="text" placeholder="Fullname" />
        </div>
        <div>
          <label for="e-mail">Email Address</label>
          <input id="e-mail" type="text" placeholder="Email Address" />
        </div>
        <div>
          <label for="phone">Phone Number</label>
          <input id="phone" type="text" placeholder="Phone Number" />
        </div>
      </div>
      <div class="message-box">
        <label for="message">Message in brief</label>
        <textarea
          name=""
          id="message"
          cols="30"
          rows="10"
          placeholder="Message in brief"
        ></textarea>
      </div>
      <button>Submit</button>
    </form>
  </div>
  <!-- </div> -->
</div>
