<div class="header-wrapper">
  <h1>
    <a href="#">COMPANY <span>LOGO</span></a>
  </h1>
  <nav id="menu" title="main navigation panel">
    <label for="tm" id="toggle-menu">
      <span class="drop-icon">
        <img src="../../assets/icons/menu-icon-mobile.png" alt="menu icon" />
      </span>
    </label>
    <input type="checkbox" id="tm" />
    <ul class="main-menu clearfix" id="navList">
      <li><a class="menu-links" href="#">About</a></li>
      <li>
        <a href="#" class="menu-links"
          >Services
          <span class="drop-icon">▾</span>
          <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
        </a>
        <input type="checkbox" id="sm1" />
        <ul class="sub-menu">
          <li><a class="menu-links" href="#">Item 2.1</a></li>
          <li>
            <a class="menu-links" href="#"
              >Item 2.2
              <span class="drop-icon">▾</span>
              <label title="Toggle Drop-down" class="drop-icon" for="sm2"
                >▾</label
              >
            </a>
            <input type="checkbox" id="sm2" />
            <ul class="sub-menu">
              <li><a class="menu-links" href="#">Item 2.2.1</a></li>
              <li><a class="menu-links" href="#">Item 2.2.2</a></li>
              <li><a class="menu-links" href="#">Item 2.2.3</a></li>
            </ul>
          </li>
          <li><a class="menu-links" href="#">Item 3.4</a></li>
        </ul>
      </li>
      <li><a class="menu-links" href="#">Solutions</a></li>
      <li><a class="menu-links" href="#">Blog</a></li>
    </ul>
    <a href="#" class="help-btn">
      <span class="chat-icon"></span>
      <span class="chat-text">Get In Touch</span>
    </a>
  </nav>
</div>
