@import "./app/globals.scss";

body {
    margin: 0;
    font-family: $primary-fonts;
    word-spacing: $word-space-in;
    color: $secondary-color;
    letter-spacing: $letter-space-in;
}
h1, h2 {
    margin: 0;
}
